h2{
    font-size: 1.2em;
}
.content div p{
    font-size: 0.8vw;
    text-justify: auto;
   
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content div{
    width: 80%;
    text-justify: auto;
    align-items: center;
    margin-left: 5%;
    border-bottom:solid white 5px;
}


